
// change the theme
$primary: rgb(102, 79, 29);
$secondary: darkblue;
  
@import "../node_modules/bootstrap/scss/bootstrap";

p {
  text-align: justify;
}

@property --t {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.card {
  transition: --t 0.3s ease;
}

.card:hover, .card:focus, .card:active {
  --t: 0.75;
}

.card .text-light {
  text-shadow: 1px 1px black;
}


em {
  color: $primary ;
  filter: brightness(75%);
  font-size: 0.95em;
}

span[lang] {
  color: $secondary;
  font-style: bold;
}

span[lang="en"] {
  display: none;
  outline:none;
  cursor:pointer;
}

span[lang="la"]:active {
  display: none;
}

span[lang="la"]:active + span[lang="en"] {
  display: inline;
}

.nav-link.active, .nav-link.active:focus {
  color: $white;
  background-color: $primary;
}
