
// change the theme
$primary: rgb(102, 79, 29);
$secondary: darkblue;
  
@import "../node_modules/bootstrap/scss/bootstrap";

p {
  text-align: justify;
}

@property --t {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

.card {
  transition: --t 0.3s ease;
  height: -webkit-fill-available;
}

.card:hover, .card:focus, .card:active {
  --t: 0.75;
}

.card .text-light {
  text-shadow: 1px 1px black;
}


em {
  color: $primary ;
  filter: brightness(75%);
  font-size: 0.95em;
}

span[lang] {
  color: $secondary;
}

span[lang].alt {
  display: none;
  outline: none;
  cursor: pointer;
}

span[lang]:not(.alt):active {
  display: none;
}

span[lang]:not(.alt):active + span[lang].alt, span[lang].alt + span[lang]:not(.alt):active {
  display: inline;
}

.nav-link.active, .nav-link.active:focus {
  color: $white;
  background-color: $primary;
}

.featured-image {
  max-width: 100%;
  height: auto;
  border: 1px dashed gray;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: $secondary;
  color: white;
  font-size: 0.7em;
  cursor: pointer;
  margin: 0 1px;
  user-select: none;
}

.dot.active {
  background-color: $primary;
  font-weight: bold;
}

.content {
  margin: 1em;
}